<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jaeho.productmanagement">

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.Constants"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activities.CheckItemActivity" />
        <activity android:name=".View.Activities.CheckQRActivity" />
        <activity android:name=".View.Activities.HomeActivity" />
        <activity android:name=".View.Activities.QNAActivity" />
        <activity android:name=".View.Activities.QNAAddActivity" />
        <activity android:name=".View.Activities.CountItemActivity" />
        <activity android:name=".View.Activities.QNAReadActivity" />

        <service android:name=".Controller.FCMReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".View.Activities.ActivateFromNotification" />
        <activity android:name=".View.Activities.SelectedItemCheckActivity" />
        <activity android:name=".View.Activities.SelectLocationActivity" />
        <activity android:name=".View.Activities.CalendarActivity"></activity>
    </application>

</manifest>